body {
    width: 100%;
    color: #132b50;
    font-family: "PT Sans", sans-serif;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
* {
    overflow: hidden;
}
.hello {
    margin-left: 1rem;
    position: relative;
    color: #132b50;
}
.hello:hover {
    cursor: pointer;
}
.main-container {
    z-index: 9998;
    width: 600px;
    height: 332px;
    border-radius: 15px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.tab-container {
    border-right: 2px solid #132b50;
    display: flex;
    flex-direction: column;
    width: 7.5rem;
    height: 332px;
}

.item {
    margin-left: 4px;
    width: 7rem;
    position: relative;
    margin-top: 0.5rem;
}

.item button {
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 100%;
    background-color: white;
    border: none;
}

.item button:hover {
    background-color: #3586ff;
    color: white;
}

.logoutitem button:hover {
    background-color: #ea4646 !important;
    color: white;
}

.img-set {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1.3rem;
    max-width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.popup {
    overflow: visible;
    z-index: 9999;
    width: 400px;
    background: #132b50;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    overflow: visible;

    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup i {
    overflow: visible;
    position: absolute;
    margin-left: 9.5rem;
    margin-top: 1.3rem;
}

.popup i:hover {
    cursor: pointer;
    color: #ea4646;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupbutton {
    width: 45%;
    margin-top: 40px;
    padding: 10px 0;
    background: #3586ff;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupbutton:hover {
    background-color: #4790ff;
}

.yes:hover {
    background-color: #ea4646 !important;
}

.info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 7.5rem;
    width: 100%;
    height: 332px;
}

.pass {
    width: 20rem;
    margin-left: 2rem;
    position: relative;
}

.email {
    width: 20rem;
    margin-left: 2rem;
    position: relative;
}
.username {
    width: 20rem;
    margin-left: 2rem;
    position: relative;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #132b50;
    outline: 0;
    font-size: 1.2rem;
    color: #132b50;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 17rem;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-weight: bold;
    font-size: 1rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #132b50;
    font-weight: bold;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #132b50;
    font-weight: bold;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.editinput {
    overflow: visible !important;
    margin-left: 10px;
}

.editinput:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

.btn-continue {
    display: none;
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 17.2rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-left: 2rem;
}

.btn-continue:hover {
    background-color: #294572;
}

.btn-verify {
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1.2rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 10px;
}
.btn-verify:hover {
    background-color: #4790ff;
}

.btn-delete {
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1.2rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-left: 2rem;
}

.btn-delete:hover {
    background-color: #ea4646;
}

.dontdisplay {
    display: none;
}

.Mobile {
    display: none;
}

@media (max-width: 620px) {
    .main-container {
        width: 350px;
        height: 400px;
    }
    .Mobile {
        display: block;
        margin-left: 6rem;
        position: absolute;
        display: flex;
    }
    .MobileFlex {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .btnMobile button {
        color: white;
        width: 5rem;
        border-radius: 7px;
        border: none;
        padding: 7px;
        background-color: #132b50;
    }
    .item {
        display: none;
    }
    .img-set {
        max-width: 4rem;
        margin-top: 0rem;
        height: 4rem;
    }
    .tab-container {
        height: auto;
        margin-top: 1rem;
        border: none;
    }
    .info-container {
        overflow: visible;
        height: auto;
        margin-top: 4.5rem !important;
        margin-left: 0rem;
    }
    .info-container h2 {
        font-size: larger;
    }
    .hello {
        margin-top: 0;
    }
    .popup {
        width: 310px;
    }
    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    .popup p {
        color: red;
    }
    .popup img {
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup i {
        position: absolute;
        margin-left: 6.9rem;
        margin-top: 1.3rem;
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
}
