.main-container {
    width: 450px;
    height: 220px;
    border-radius: 15px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}
.container-content {
    text-align: center;
}
.container-content h1 {
    margin-top: 1rem;
    text-align: center;
}
.container-content img {
    overflow: visible;
    margin-top: -3rem;
    width: 100px;
    height: auto;
    --animate-duration: 2s;
}

.links {
    gap: 0 20px;
    display: flex;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}
.btn-login {
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
}
.btn-login:hover {
    background-color: #273854;
}
.btn-register {
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
}
.btn-register:hover {
    background-color: #273854;
}

@media (max-width: 500px) {
    .main-container {
        max-width: 340px;
        max-height: 235px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .switch {
        width: 50px;
        height: 30px;
    }
    .slider::before {
        width: 20px;
        height: 20px;
        bottom: 5px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    }
    .ssi-label {
        margin-left: 5px;
    }
    .btn-continue {
        position: relative;
        width: 6.8rem;
        width: 17.5rem;
        margin-top: 0.4rem;
        margin-left: 0rem;
    }

    .form__field {
        width: 100%;
        width: 17.3rem;
    }
}
