.editWarningNav {
    color: #3586ff !important;
    position: relative !important;
}

body {
    background-image: url("../img/background.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto 150%;
}

.header {
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 3rem;
    color: #3586ff;
}
.shop_around {
    position: absolute;
    text-align: center;
    top: 40%;
    font-size: 2rem;
    color: #3586ff;
}
.source_code {
    position: absolute;
    text-align: center;
    top: 50%;
    font-size: 2rem;
    color: #3586ff;
}
