.main-container {
    z-index: 9998;
    width: 450px;
    height: 270px;
    border-radius: 15px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container-content h1 {
    margin-top: 2rem;
    text-align: center;
}

.formContent {
    margin-left: 4rem;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #132b50;
    outline: 0;
    font-size: 1.2rem;
    color: #132b50;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 20rem;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-weight: bold;
    font-size: 1rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #132b50;
    font-weight: bold;
}

.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #132b50, #fff);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #132b50;
    font-weight: bold;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
.btn-continue {
    cursor: pointer;
    position: relative;
    background-color: #132b50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 1.3rem;
}
.btn-continue:hover {
    background-color: #273854;
}
.links {
    margin-left: 3rem;
    margin-top: 0.8rem;
}
.loginlink {
    width: 7rem;
    position: absolute;
    color: #132b50;
}

.registerlink {
    width: 10rem;
    position: absolute;
    color: #132b50;
    margin-top: 5px;
}

@media (max-width: 500px) {
    .main-container {
        max-width: 340px;
        max-height: 240px;
    }
    h1 {
        font-size: 1.5rem;
    }

    .btn-continue {
        position: relative;
        width: 6.8rem;
        width: 17.5rem;
        margin-top: 0.4rem;
        margin-left: 0rem;
    }

    .loginlink {
        margin-top: 5px;
        margin-left: -1rem;
        width: 7rem;
        position: absolute;
        color: #132b50;
    }

    .registerlink {
        width: 10rem;
        position: absolute;
        margin-top: -0.9rem;
        color: #132b50;
        margin-left: 7.5rem;
    }

    .formContent {
        margin-left: 2rem;
    }
    .form__field {
        width: 100%;
        width: 17.3rem;
    }
}
